.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.white-text {
  color: #ffffff; }

body {
  font-family: "Muller";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #898989; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bona Title";
  font-weight: 700;
  color: #000000;
  line-height: 1.3; }

h1, h2 {
  font-size: 6em;
  margin-top: 55px; }

h1 {
  margin-bottom: 30px; }

h3 {
  font-size: 4.5em; }

.logo {
  font-family: "Bona Nova";
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  transition: .4s all; }
  .logo span {
    color: #898989; }
  @media screen and (min-width: 1200px) {
    .logo {
      font-size: 28px; } }

.logo:hover {
  color: #898989; }

.logo-motto {
  font-family: "Bona Nova";
  font-weight: 400;
  color: #898989; }

.header-thiner {
  font-weight: 400; }

.subtitle {
  font-size: 1.3em;
  margin: 0 auto;
  display: block;
  width: 90%;
  margin-top: 0;
  margin-bottom: 30px; }
  @media screen and (min-width: 992px) {
    .subtitle {
      margin-top: 0;
      margin-bottom: 30px; } }
  @media screen and (min-width: 1200px) {
    .subtitle {
      margin-top: 0;
      margin-bottom: 50px;
      max-width: 700px;
      font-size: 1.44em; } }
  @media screen and (min-width: 1444px) {
    .subtitle {
      margin-top: 0;
      margin-bottom: 100px; } }

.subtitle-dark {
  color: #000000; }

.primary-text {
  margin: 0 auto;
  display: block;
  width: 80%; }
  @media screen and (min-width: 992px) {
    .primary-text {
      width: 70%; } }
  @media screen and (min-width: 1200px) {
    .primary-text {
      width: 625px; } }

a {
  text-decoration: none;
  color: #000000;
  transition: .4s all; }

a:hover {
  color: #898989; }

.list-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .list-wrapper ul {
    display: inline-block;
    color: #898989;
    list-style: none;
    margin-right: 40px;
    padding: 0; }
    @media screen and (min-width: 992px) {
      .list-wrapper ul {
        margin-right: 80px; } }
    @media screen and (min-width: 1200px) {
      .list-wrapper ul {
        margin-right: 130px; } }
    .list-wrapper ul:last-child {
      margin-right: 0; }
    .list-wrapper ul li:before {
      content: "\25CF";
      font-size: 50%;
      padding-right: 10px; }

.contact-info {
  display: inline-block;
  list-style: none; }

.author::before {
  content: " ";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #222222;
  margin-bottom: 50px; }

nav {
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #f1f0f0; }

.nav-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

nav {
  background-color: #f1f0f0;
  z-index: 999; }
  nav ul {
    list-style: none;
    padding: 0; }
    @media screen and (max-width: 992px) {
      nav ul {
        display: none !important; } }
  nav ul li {
    display: inline-block;
    padding: 0 20px; }
  nav ul li a, nav i {
    transition: .4s all; }
  nav ul li:hover a {
    color: #898989; }
  nav ul li:hover i {
    border-color: #898989; }
  nav ul li.active a {
    color: #898989; }
  nav .menu-trigger {
    width: 50px;
    height: 45px;
    border: 0;
    border-top: 5px solid #222222;
    background: transparent;
    position: relative;
    transition: .2s transform linear; }
    @media screen and (min-width: 992px) {
      nav .menu-trigger {
        display: none !important; } }
    nav .menu-trigger::before, nav .menu-trigger::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 5px solid black;
      -webkit-transform: translate(0, 10px);
      -moz-transform: translate(0, 10px);
      -ms-transform: translate(0, 10px);
      transform: translate(0, 10px);
      transition: .2s transform linear; }
    nav .menu-trigger::after {
      -webkit-transform: translate(0, 25px);
      -moz-transform: translate(0, 25px);
      -ms-transform: translate(0, 25px);
      transform: translate(0, 25px);
      transition: .2s transform linear; }
  nav .menu-trigger-active {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: none;
    transition: .2s transform linear; }
    nav .menu-trigger-active::before {
      -webkit-transform: rotate(-90deg) translate(-25px, 0);
      -moz-transform: rotate(-90deg) translate(-25px, 0);
      -ms-transform: rotate(-90deg) translate(-25px, 0);
      transform: rotate(-90deg) translate(-25px, 0);
      transition: .2s transform linear; }
  nav .mobile-list {
    display: none;
    width: 100%;
    z-index: 1000;
    background-color: #f1f0f0; }
    nav .mobile-list .mobile-item {
      font-family: "Bona Title";
      font-weight: 700;
      font-size: 2.5em;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px; }
  nav .mobile-languages {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  nav i {
    border: solid #000000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px; }
  nav i.down {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 5px;
    margin-bottom: 3px; }

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: scrollDownMenu 1s ease;
  padding-bottom: 20px; }
  .fixed-nav .nav-container {
    max-width: 1660px;
    margin: 0 auto; }

@keyframes scrollDownMenu {
  from {
    -webkit-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    transform: translate(0, -100px); }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
.language-menu {
  position: relative; }
  .language-menu ul {
    z-index: 1000;
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1); }
    .language-menu ul .language-item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      font-size: 0.6em;
      padding: 20px;
      border-bottom: solid 1px #f1f0f0; }
      .language-menu ul .language-item .language-img {
        display: block; }
      .language-menu ul .language-item span {
        display: block; }

@media screen and (min-width: 992px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; } }

@media screen and (min-width: 992px) {
  .row-center {
    width: 110%;
    margin-left: -5%; } }

.col {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .col {
      width: 50%;
      padding: 15px; } }

@media screen and (min-width: 992px) {
  .col-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; } }
.col-flex .work {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .col-flex .work {
      width: 110%; } }

.work {
  position: relative; }
  .work img {
    width: 100%;
    object-fit: cover;
    display: block; }
  .work a {
    color: #ffffff; }

.work-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.67);
  transition: all .3s linear;
  color: #ffffff; }
  .work-overlay h4 {
    color: #ffffff; }
  .work-overlay div {
    padding: 87px; }

body {
  background-color: #f1f0f0;
  overflow-x: hidden; }

.wrapper {
  width: 95%;
  max-width: 1660px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  -ms-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all; }

.centerObject {
  display: block;
  margin: 0 auto; }

@media screen and (min-width: 576px) {
  section {
    padding-top: 20px;
    padding-bottom: 20px; } }
@media screen and (min-width: 768px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px; } }
@media screen and (min-width: 1444px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px; } }

.first-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .first-section {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media screen and (min-width: 1200px) {
    .first-section {
      padding-top: 80px;
      padding-bottom: 80px; } }

.img-responsive {
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover; }
  @media screen and (max-width: 1200px) {
    .img-responsive {
      margin-top: 20px;
      margin-bottom: 10px; } }

.darkBG {
  background-color: #222222;
  color: #ffffff; }

footer {
  padding: 120px 0;
  margin-top: 120px;
  position: relative; }
  footer h3 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 70px; }
    footer h3 a {
      color: #ffffff;
      text-decoration: underline;
      transition: 0.3s all; }
    footer h3 a:hover {
      color: #f1f0f0; }

.copy {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: #f1f0f0;
  font-size: .8em; }
  .copy span {
    float: right; }
    @media screen and (max-width: 576px) {
      .copy span {
        float: initial !important;
        display: block; } }
    .copy span a {
      text-decoration: underline; }
  .copy ul {
    list-style: none;
    padding: 0; }
  .copy ul li {
    display: inline-block;
    padding-right: 10px; }
  .copy ul li a {
    text-decoration: underline; }

.contact-info-wrapper {
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #898989;
  padding-bottom: 90px; }
  @media screen and (min-width: 992px) {
    .contact-info-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .contact-info-wrapper ul {
    font-size: 1.1em;
    line-height: 1.7em;
    padding: 30px 0px;
    display: block;
    min-width: 325px; }
    .contact-info-wrapper ul li {
      display: block; }

.jobs-list {
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 95%;
  max-width: 935px;
  margin: 0 auto; }
  @media screen and (min-width: 992px) {
    .jobs-list {
      display: flex; } }
  .jobs-list li {
    width: 30%;
    max-width: 220px;
    display: block;
    margin: 0 auto; }
    @media screen and (max-width: 992px) {
      .jobs-list li::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #f1f0f0; } }
    .jobs-list li h5 {
      font-family: Muller;
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 0; }
    .jobs-list li p {
      margin-top: 0; }

/*# sourceMappingURL=style.css.map */
