@each $align in $aligns{
	.align-#{$align}{
		text-align: #{$align}
	}
}


@mixin font($font,$weight){
	font-family:$font;
	font-weight:$weight
}

.white-text{
	color:$white;
}


body{
	@include font($textFont, 400);
	font-size: 18px;
	line-height: 1.5;
	color:$mediumGrey;
}

h1,
h2,
h3,
h4,
h5,
h6{
	@include font($headingFont, 700);
	color:$black;
	line-height: 1.3;
}

h1, h2{
	font-size: 2.5em;
	@include marign-top-bottom(40px, 30px);
	@media screen and (min-width: $bSmall){
		font-size: 4em;
	}
	@media screen and (min-width: $bLarge){
		font-size:5em;
	}
	@media screen and (min-width: $bXLarge){
		font-size: 6em;
	}
}

//h2{
//	@media screen and (min-width: $bMedium){
//		margin-bottom: 30px;
//	}
//		@media screen and (min-width: $bLarge){
//		margin-bottom: 90px;
//	}
//}

h3{
	font-size: 2.8em;
	@media screen and (min-width: $bLarge){
		font-size: 3em;
	}
	@media screen and (min-width: $bXLarge){
		font-size: 4.5em;
	}
}


.logo{
	@include font($logoFont, 700);
	color:$black;
	font-size: 18px;
    transition: .4s all;
	span{
		color: $mediumGrey;
	}
  @media screen and (min-width: $bLarge){
    font-size: 28px;
  }
}

.logo:hover{
  color:$mediumGrey;
}


.logo-motto{
	@include font($logoFont, 400);
	color: $mediumGrey;
}

.header-thiner{
	font-weight: 400;
}

.subtitle{
	font-size: 1em;
	margin:0 auto;
	display: block;
	width: 90%;
	@include marign-top-bottom(0, 30px);
	@media screen and (min-width: $bMedium){
		@include marign-top-bottom(0, 30px);
	}
	@media screen and (min-width: $bLarge){
		@include marign-top-bottom(0, 50px);
		max-width: 700px;
		font-size: 1.3em;
	}

	@media screen and (min-width: $bXLarge){
		@include marign-top-bottom(0, 100px);
	}
}

.primary-text{
	margin: 0 auto;
	display: block;
	width: 80%;
	@media screen and(min-width: $bMedium){
		width: 70%;
	}
	@media screen and(min-width: $bLarge){
		width: 625px;
	}

}


a{
	text-decoration: none;
	color: $black;
    transition: .4s all;
}

a:hover{
  color: $mediumGrey;
}

.list-wrapper{
		@include flexbox();
		@include justify-content (center);
		@include flex-wrap(wrap);
	ul{
		display: inline-block;
		color: $mediumGrey;
		list-style:none;
		margin-right: 40px;
		padding:0;
		@media screen and (min-width: $bMedium){
			margin-right: 80px;
		}
		@media screen and (min-width: $bLarge){
			margin-right: 130px;
		}
		&:last-child{
			margin-right: 0;
		}
		li{
			&:before{
				content: "\25CF";
	   			font-size: 50%;
	   			padding-right: 10px;
			}

		}
	}

}

.contact-info{
	display: inline-block;
	list-style:none;
}

.author{
	&::before{
		content: " ";
		display: block;
		width: 50px;
		height: 2px;
		background-color: $darkGrey;
		margin-bottom: 50px;
	}
}