// Breake points

$bXSmall: 576px;
$bSmall: 768px;
$bMedium: 992px;
$bLarge: 1200px;
$bXLarge: 1444px;

// Typo

$headingFont: 'Bona Title';
$textFont: 'Muller';
$logoFont: 'Bona Nova';
$aligns: (left,center,right);

//margins

$margin-bXSmall: 20px;
$margin-bSmall: 40px;
$margin-bLarge: 60px;