@import 'vars';
@import 'colours';
@import 'mixins';
@import 'typo';
@import 'nav';
@import 'work';
@import 'grid';


body{
    background-color: $lightGrey;
    overflow-x: hidden;
}

.wrapper{
	width: 95%;
	max-width: 1660px;
	margin: 0 auto;
	background-color: $white;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  -ms-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;

}

.centerObject{
	display:block;
	margin: 0 auto;
}


//Homepage sections

section{
	@media screen and (min-width: $bXSmall){
		@include padding-top-bottom(20px, 20px);

	}
	@media screen and (min-width: $bSmall){
		@include padding-top-bottom(40px, 40px);
	}
	@media screen and (min-width: $bXLarge){
		@include padding-top-bottom(60px, 60px);
	}
}




.first-section{

	position: relative;
		@include padding-top-bottom(40px, 40px);

	@media screen and (min-width: $bSmall){
		@include padding-top-bottom(60px, 60px);
	}

	@media screen and (min-width: $bLarge){
		@include padding-top-bottom(80px, 80px);
	}

}

//Responsive img
.img-responsive{
	display:block;
	width: 100%;
	height: 50%;
	object-fit:cover;
	@media screen and (max-width: $bLarge){
		@include marign-top-bottom(20px,10px);
	}
}


//BG colour classses

.darkBG{
	background-color: $darkGrey;
	color: $white;
}

// Footer classses

footer{
	padding: 120px 0;
	margin-top: 120px;
	position: relative;
	h3{
		color:$white;
		@include marign-top-bottom(0,70px);
		a{
			color: $white;
			text-decoration: underline;
			transition: 0.3s all;
		}
		a:hover{
			color:$lightGrey;
		}
	}
}

.copy{

	padding-top: 90px;
	padding-bottom:70px;

	background-color: $lightGrey;
	font-size: .8em;
	span{
		float:right;
		@media screen and (max-width:$bXSmall){
			float: initial !important;
			display: block;
		}
		a{
			text-decoration: underline;
		}
	}
	ul{
		list-style:none;
		padding:0;
	}
	ul li{
		display: inline-block;
		padding-right: 10px;
	}

	ul li a{
		text-decoration: underline;
	}

}

//Contact

.contact-info-wrapper{
	display: block;
	@media screen and (min-width: $bMedium){
		@include flexbox();
		@include justify-content (space-between);
		@include flex-wrap(wrap);
	}
	width: 80%;
	margin: 0 auto;
	color: $mediumGrey;
	padding-bottom: 90px;
	ul{
		font-size: 1.1em;
		line-height: 1.7em;
		padding: 30px 0px;
		display:block;
		min-width: 325px;
		li{
			display:block;
		}
	}
}

//career

.jobs-list{
	list-style: none;
	padding: 0;
	justify-content: space-between;
	width: 95%;
	max-width: 935px;
	margin: 0 auto;
	@media screen and (min-width: $bMedium){
		display: flex;
	}
	li{
		width:30%;
		max-width: 220px;
		display:block;
		margin: 0 auto;
		@media screen and (max-width: $bMedium){
			&::after{
				content: "";
				display: block;
				height: 2px;
				width: 100%;
				background-color: $lightGrey;
			}
		}
		h5{
			font-family: Muller;
			font-size: 1em;
			font-weight: 700;
			margin-bottom: 0;
		}
		p{
			margin-top: 0;
		}
	}
}

//case

.normal{
	width: auto !important;
	max-width:100%;
	margin: 0 auto;
	padding: 90px 0;
	&:last-child{
		padding-bottom:0;
	}
}

.normal-smallP{
	padding-top:0;
	margin-top: -30px;
}
